[Unit]
Description=UniswapV2 tokens price Monitor
After=network.target

[Service]
Environment=NODE_PORT=50000
Environment=ETH_NODE_URL=ws://127.0.0.1:8546
Type=simple
User=root
WorkingDirectory=/opt/ethereum/uniswap2-prices
ExecStart=/usr/bin/node monitor.js
Restart=on-failure

[Install]
WantedBy=multi-user.target

